#light{
	border-radius: 24px;
	text-align: center;
	font-size: 20px;
	color:White;
	background-color: #bfbfbf ;
	border-style: solid;
	border-color: #142952;
	float:right;
	position: sticky;
	}
	
#dark{
	border-radius: 24px;
	text-align: center;
	font-size: 20px;
	color:Black;
	border-style: solid;
	border-color: CornflowerBlue ;
	background-color: White ;
	float:right;
	position: sticky;
	}
	
