/* Icone thème de la page */
#light {
	border-radius: 24px;
	text-align: center;
	font-size: 20px;
	color: White;
	background-color: #bfbfbf;
	border-style: solid;
	border-color: #142952;
	float: right;
}

#dark {
	border-radius: 24px;
	text-align: center;
	font-size: 20px;
	color: Black;
	border-style: solid;
	border-color: CornflowerBlue;
	background-color: White;
	float: right;
}
/* ******************************* */

table {
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	float:left;
	padding-left: 7px;
}

#tr0:checked, #tr1:checked, #tr2:checked, #tr3:checked  {
	background-color: Black;
}

#tr0:visited, #tr1:visited, #tr2:visited, #tr3:visited, #tr0:link, #tr1:link, #tr2:link, #tr3:link  {
	text-decoration: none;
}

#tr0:hover, #tr1:hover, #tr2:hover, #tr3:hover {
	background-color: RoyalBlue;
	color: White;
	text-decoration: underline;
}

#tr0:active, #tr1:hover, #tr2:hover, #tr3:hover {
	background-color: Black;
	color: black;
	outline: 1px solid black;
}

#tr0, #tr1, #tr2, #tr3 {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 35%;
	width: 16px;
	height: 16px;
	border: 2px solid #999;
	transition: 0.1s all linear;
	position: relative;
	top: 6px;
}

#button:hover {
	cursor: pointer;
}	

#button:active, #deco:active, input:active, input:hover {
	text-decoration: underline;
}

#deco:link, #deco:visited, input:link, input:visited, #button:link, #button:visited {
	text-decoration: none;
}

#deco:hover, #button:hover {
	background-color: RoyalBlue;
	color: White;
	text-decoration: underline;
	cursor: pointer;
}

#button:active {
	background-color: RoyalBlue;
}

#login, #password {
	cursor:text;
}

#photoUser {
	border-radius: 45px;
}

#info_message {
	font-size: 11px;
}

no {
	font-size: 18px;
}

#bar{
	margin: 20px auto;
}